# Add any directories, files, or patterns you don't want to be tracked by version control
**/.ipynb_checkpoints/**
/data/frames/*.png
tf_*
ssd_*
ssd_*/**
/tensorflow*.config
/tensorflow/data/*.record
/tensorflow/models/faster_rcnn_resnet101_coco_2017_11_08/
/tensorflow/models/ssd_inception_v2_coco_2017_11_17/*
/tensorflow/models/**
**/**.mp4
/code/cutball.py
/annotations
/code/.BallAnimation.ipynb.swp
/code/__pycache__/
/.idea/cvtennis.iml
/.idea/misc.xml
/.idea/workspace.xml
.Rhistory
.directory
videos/*
**/.vscode/**
Meilenstein1.pdf
/tensorflow/Graph/*
Untitled.ipynb
/tensorflow/tf_ckpts**
self_supervised_blender.ipynb
/code/ReconstructionProcess.ipynb
/code/tstest.ipynb
/onewaycode
/code
